<div class="card card-compact bg-base-100 shadow-xl animate-fadeIn">
  <figure class="bg-white flex items-center justify-center h-48">
    <img 
       [src]="product().images | productImage"
      [alt]="product().title" 
      class="object-contain h-full"
    />
  </figure>
  <div class="card-body">
    <h2
      class="card-title font-montserrat text-accent text-lg hover:underline cursor-pointer"
      [routerLink]="['/product', product().slug]"
    >
      {{ product().title }}
    </h2>
    <p>{{ product().description | slice : 0 : 70 }}...</p>
    <div class="card-actions justify-end">
      <a class="link link-accent" [routerLink]="['/product', product().slug]">
        Ver producto
      </a>
    </div>
  </div>
</div>
